<div class="users-component">
	<mat-drawer-container hasBackdrop>
		<mat-drawer-content>
			<ngx-spinner
					bdColor="rgba(255, 255, 255, 0.7)"
					size="medium"
					color="#008755"
					type="ball-scale-multiple"
					[fullScreen]="false"
			>
			</ngx-spinner>
			<mat-toolbar color="white">
				<mat-toolbar-row class="z-index-2 ">
					{{globalVars.translation['Locations'][globalVars.LNG]}}
				</mat-toolbar-row>
			</mat-toolbar>
			
			<div class="iserve-content-container">
				<app-table-widget
                    #tableWidget
					[tableData]="tableWidgetData"
					(rowClicked)="rowClicked($event)"
					(statusUpdated)="statusUpdated($event)"
					(actionButtonPressed)="tableActionEvent($event)"
				>
				</app-table-widget>
			</div>
			
			<button mat-fab color="primary" class="sticky-fab-button" (click)="openDrawer('add')">
				<mat-icon svgIcon="plus"></mat-icon>
			</button>
		</mat-drawer-content>
		
		<mat-drawer #drawer mode="over" position="end" style="width: 40vw;" disableClose>
			<mat-toolbar class="mat-elevation-z3 p-0" color="white" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="h-100" fxLayout="row">
					<button mat-button (click)="drawerClosed($event)" tabindex="-1">
						<mat-icon svgIcon="close"></mat-icon>
					</button>
					<mat-divider vertical></mat-divider>
					<span class="mx-4" fxLayout="row" fxLayoutAlign="center center">
                        
                    </span>
				</div>
				<div class="px-4">
					
					<button  form="ngForm"  mat-raised-button color="primary" *ngIf="drawerType == 'add'" (click)="saveLocation(this)">
						{{globalVars.translation['Add'][globalVars.LNG]}}
					</button>
					<button form="ngForm"  mat-raised-button color="primary" *ngIf="drawerType == 'edit'" (click)="saveLocation(this)">
						{{globalVars.translation['Update'][globalVars.LNG]}}
					</button>
				</div>
			</mat-toolbar>
			
			<div *ngIf="addFormVisible" id="ngForm" appearance="outline" class="mx-auto"
			      style="width: 90%;margin-left: auto; margin-right: auto;margin-top: 30px;">
				<mat-card>
					<mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between baseline">
						<input type="hidden" [(ngModel)]="locationModel.id" [ngModelOptions]="{standalone: true}">
						<mat-form-field fxFlex="98%" appearance="outline">
							<mat-label>{{globalVars.translation['Address'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="locationModel.address"
								   [ngModelOptions]="{standalone: true}" required>
								   <mat-error>Address is required</mat-error>
						</mat-form-field>
						
						<mat-form-field fxFlex="98%" appearance="outline">
							<mat-label>{{globalVars.translation['Location Type'][globalVars.LNG]}}</mat-label>
							<mat-select [(ngModel)]="locationModel.locationType" [ngModelOptions]="{standalone: true}">
								<mat-option value="Parking Station"
								            selected>{{globalVars.translation['Parking Station'][globalVars.LNG]}}</mat-option>
								<mat-option
										value="Charging Station">{{globalVars.translation['Charging Station'][globalVars.LNG]}}</mat-option>
								<mat-option
										value="No Entry">{{globalVars.translation['No Entry'][globalVars.LNG]}}</mat-option>
							</mat-select>
						</mat-form-field>
						
						<mat-form-field fxFlex="98%" appearance="outline">
							<mat-label>{{globalVars.translation['Location'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="locationModel.location"
								   [ngModelOptions]="{standalone: true}" required>
								   <mat-error>Location is required</mat-error>
						</mat-form-field>
						
						<div class="map-container-location" fxFlex="100%">
							<div class="map-frame-location">
								<div id="locationmap"></div>
							</div>
						</div>
					
					</mat-card-content>
				</mat-card>
			</div>
		
		</mat-drawer>
	</mat-drawer-container>
</div>
