
<div class="group-driver-component">
    <ngx-spinner bdColor="rgba(255, 255, 255, 0.7)" size="medium" color="#008755" type="ball-scale-multiple"
    [fullScreen]="false">
  </ngx-spinner>
    <mat-drawer-container hasBackdrop>
        <mat-drawer-content>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="float:right;margin:20px;">
                <mat-icon (click)="drawer.toggle()" >add</mat-icon>
                <mat-icon>settings</mat-icon>
                <mat-icon>cached</mat-icon>         
               </div>
                 <app-table-widget *ngIf="tableWidgetData"
                #tableWidget
                (actionButtonPressed)="tableActionEvent($event)"
                [tableData]="tableWidgetData"
                >
                </app-table-widget>
        </mat-drawer-content>
        <mat-drawer #drawer mode="over" style="width: 40vw;" position="end">
            <mat-toolbar class="mat-elevation-z3 p-0" color="white" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h-100" fxLayout="row">
                    <button mat-button (click)="drawer.toggle()" tabindex="-1">
                        <mat-icon svgIcon="close"></mat-icon>
                    </button>
                    <mat-divider vertical></mat-divider>
                    <span class="mx-4" fxLayout="row" fxLayoutAlign="center center">
                        Add New Driver Group
                    </span>
                </div>
            </mat-toolbar>
            <mat-card class="p-4 m-4">
                <mat-card-content fxLayout="column wrap" fxLayoutAlign="space-between baseline">
                    <mat-form-field fxFill >
                        <mat-label>Enter Group Name</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <mat-form-field fxFill>
                        <mat-label>Enter Group Description</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center">                     
                    <button  mat-raised-button color="primary">Save Group</button>
                     <button mat-raised-button>Reset</button>
                  </mat-card-actions>
            </mat-card>
        </mat-drawer>
    </mat-drawer-container>
    </div>