.dashboard-component{

	.content-outer{
        padding: 10px 0;
		height: calc(100vh - 50px);
		
		h3, h4 {
			font-weight: 600;
		}
		.main-flex-container > * {
			margin: 8px 0;
		}
		.md-headline {
			line-height: 1.4;
        }
        .min-height{
			min-height: 300px;
        }
        .table-card{
			.table-card-content{
				height: calc(100% - 57px); 
				position: absolute; 
				left: 0; 
				right: 0; 
				margin-top: 5px;
			}
			.clickable-row{
				&:hover{
					background-color: #f5f5f5;
					cursor: pointer;
				}
			}
		}
		.tile {
			::ng-deep .mat-icon{
				width: 40px;
				height: 40px;
				
				svg{
					width: 40px;
					height: 40px;
				}
			}
			::ng-deep .tile-help {
				position: relative;
				top: -3px;
				cursor: help;

				.mat-icon, 
				svg {
					width: 20px;
					height: 20px;
				}
			}
			h3{
				margin: 0;
			}
		}
		.clickable-chips{
			position: relative;
			
			.mat-chip {
				font-size: 0.77rem;
				margin-top: 0;
				margin-bottom: 0;

				&:hover{
					cursor: pointer;
				}
				&.active {
					background-color: #008755 !important;
					color: #ffffff !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px){
	.tile {
		::ng-deep .mat-icon{
			width: 30px;
			height: 30px;
			
			svg{
				width: 30px;
				height: 30px;
			}
		}
	}
}

@media only screen and (min-width: 1280px){
	.content-outer {
		height: calc(100vh - 50px);
		
		.tiles-outer{
			.tile{
				margin-bottom: 15px;
			}
			.tile:nth-child(3),
			.tile:nth-child(4){
				margin-bottom: 0;
			}
		}
	}
}
