.side-time-tracker-component {

    .clock-wrapper{
        width: 100%;
        margin: auto;
    
        .clock {
            // background: #ececec;
            width: 280px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        
            .time {
                position: absolute;
                top: auto;
                left: auto;
                font-size: 2.2rem;
            }
        
            ::ng-deep .track {       
                stroke-opacity: 0.2 !important;
            }
            
            .overlap{
                position: absolute;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-100px, -100px);
        
                .mat-progress-spinner{
                    position: absolute;
                }
            }
        }
    
        .actions{
            display: flex;
            flex-wrap: wrap;
            
            .action-btn{
                margin: 8px;
                padding: 0 30px;
                line-height: 50px;
                font-size: 16px;
            }
            .mat-stroked-button:not([disabled]){
                border-color: #008755;
            }
        }
    
        ::ng-deep{
            @media screen and (max-width: 1024px) {
                .actions{
                    flex-direction: column;
                    .action-btn{
                        line-height: 40px;
                    }
                }
            }
        }
    }
}

