<div class="vehicles-component">
	<mat-drawer-container hasBackdrop>
		<mat-drawer-content>
			<ngx-spinner
					bdColor="rgba(255, 255, 255, 0.7)"
					size="medium"
					color="#008755"
					type="ball-scale-multiple"
					[fullScreen]="false"
			>
			</ngx-spinner>
			<mat-toolbar color="white">
				<mat-toolbar-row class="z-index-2 ">
					{{globalVars.translation['Vehicles'][globalVars.LNG]}}
				</mat-toolbar-row>
			</mat-toolbar>
			
			<div class="iserve-content-container">
				<div class="mini-dashboard-cards" fxLayout="row" fxLayoutAlign="space-between stretch"
				     fxLayoutGap="20px">
					
					<mat-card class="closed-booking" fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxFlex="1 1 auto">
                        <h2 class="fw-400" mat-card-title>{{globalVars.translation['Active'][globalVars.LNG]}}</h2>
                    </span>
						<span>
                        <h1 class="fw-400">
                            {{statusModel.active}}
                        </h1>
                        <span mat-card-subtitle>{{globalVars.translation['Vehicles'][globalVars.LNG]}}</span>
                    </span>
					</mat-card>
					
					<mat-card class="cancelled-booking" fxFlex="auto" fxLayout="row"
					          fxLayoutAlign="space-between center">
                    <span fxFlex="1 1 auto">
                        <h2 class="fw-400" mat-card-title>{{globalVars.translation['Inactive'][globalVars.LNG]}}</h2>
                    </span>
						<span>
                        <h1 class="fw-400">
                            {{statusModel.inActive}}
                        </h1>
                        <span mat-card-subtitle>{{globalVars.translation['Vehicles'][globalVars.LNG]}}</span>
                    </span>
					</mat-card>
				
				</div>
				<app-table-widget
                    #tableWidget
					[tableData]="tableWidgetData"
					(rowClicked)="rowClicked($event)"
					(statusUpdated)="statusUpdated($event)"
					(actionButtonPressed)="tableActionEvent($event)"
					(toggleButtonPressed)="availableToggleEvent($event)"
					(actionButtonPressedAll)="actionButtonPressedAll($event)"
				>
				</app-table-widget>
			</div>
			
			<button mat-fab color="primary" class="sticky-fab-button" (click)="openDrawer('add')">
				<mat-icon svgIcon="plus"></mat-icon>
			</button>
		</mat-drawer-content>
		
		<mat-drawer #drawer mode="over" position="end" style="width: 40vw;" disableClose>
			<mat-toolbar class="mat-elevation-z3 p-0" color="white" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="h-100" fxLayout="row">
					<button mat-button (click)="drawerClosed($event)" tabindex="-1">
						<mat-icon svgIcon="close"></mat-icon>
					</button>
					<mat-divider vertical></mat-divider>
					<span class="mx-4" fxLayout="row" fxLayoutAlign="center center">
                        
                    </span>
				</div>
				<div class="px-4">
					<button mat-raised-button color="primary" form="ngForm"  *ngIf="drawerType == 'add'" (click)="saveVehicle(this)">
						{{globalVars.translation['Add'][globalVars.LNG]}}
					</button>
					<button mat-raised-button color="primary" form="ngForm"  *ngIf="drawerType == 'edit'" (click)="saveVehicle(this)">
						{{globalVars.translation['Update'][globalVars.LNG]}}
					</button>
				</div>
			</mat-toolbar>
			
			<div class="p-2" style="margin-left: 100px;"  *ngIf="drawerType == 'add'">
				<mat-form-field appearance="outline" style="width: 70%;">
					<input type="text" [(ngModel)]="addVehiclOption.text"
					       [placeholder]="globalVars.translation['Search Plate'][globalVars.LNG]" aria-label="Number"
					       matInput [formControl]="myControl" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelection($event)">
						<mat-option *ngFor="let option of filteredOptions | async" [value]="option.title"
						            [id]="option.id">
							{{option.title}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			
			<div *ngIf="addFormVisible" id="ngForm" appearance="outline" class="mx-auto"
			      style="width: 90%;margin-left: auto; margin-right: auto;margin-top: 30px;">
				
				<mat-card>
					<mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between baseline">
						<input type="hidden" [(ngModel)]="addVehicleModel.id" [ngModelOptions]="{standalone: true}">
						<input type="hidden" [(ngModel)]="addVehicleModel.tel_asset_id"
						       [ngModelOptions]="{standalone: true}">
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Plate Number'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.plateNumber"
								   [ngModelOptions]="{standalone: true}" required>
								   <mat-error>plate number is required</mat-error>
						</mat-form-field>
						
						<mat-form-field fxFlex="48%" danger>
							<mat-label>{{globalVars.translation['Make'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.brand"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Model'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.model"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Color'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.color"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Year'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.year"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Type'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.vehicleType"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Odometer'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.odometer"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Vehicle Group'][globalVars.LNG]}}</mat-label>
							<mat-select [(ngModel)]="addVehicleModel.vehicleGroup"
							            [ngModelOptions]="{standalone: true}">
								<mat-option
										value="standard">{{globalVars.translation['Standard'][globalVars.LNG]}}</mat-option>
								<mat-option
										value="luxury">{{globalVars.translation['Luxury'][globalVars.LNG]}}</mat-option>
							</mat-select>
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['Device Id'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.deviceId"
							       [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field fxFlex="48%">
							<mat-label>{{globalVars.translation['IServe#'][globalVars.LNG]}}</mat-label>
							<input type="text" matInput [(ngModel)]="addVehicleModel.iserveId"
								   [ngModelOptions]="{standalone: true}" required>
								   <mat-error>IServe# is required</mat-error>
						</mat-form-field>
					
					</mat-card-content>
				</mat-card>
			</div>
		
		</mat-drawer>
	
	
	</mat-drawer-container>
</div>
