mat-sidenav-content {
	height: calc(100vh - 50px); // subtract app nav height
	// height: calc(100vh);
}

.dp-light-theme {
	background-color: whitesmoke;
}

mat-sidenav {
	// height: calc(100vh - 50px);
	overflow: auto;
}

.timer-sidenav{
	top: 50px !important;
	height: calc(100vh - 50px); // subtract app nav height
}

::ng-deep {
	.user-component mat-sidenav .content {
		height: calc(100vh - 64px - 80px);
		overflow: auto;
	}

	.user-component {
		.view-tabs .mat-tab-body-wrapper {
			height: calc(100vh - 50px - 49px - 64px);
			overflow: auto;
		}
	}

	/** Light Theme specific **/
	.dp-light-theme .mat-tab-header {
		background: #FFF !important;
	}

	.user-component {
		.mat-tab-body-wrapper {
			// height: calc(100vh - 50px - 64px - 49px);
		}
	}

	.mat-tab-disabled {
		position: absolute !important;

		&:lang(en) {
			right: 0 !important;
		}

		&:lang(ar) {
			left: 0 !important;
		}
	}

	app-table-object{
		margin-bottom: 15px;
	}
}

.MR {
	margin-right: 20px;
	margin-left: 10px
}

.search {
	margin-left: 20px;
	margin-right: 20px;
}

.align {
	vertical-align: bottom;
}

.mr {
	margin-right: 5px;
}

.primary-color {
	color: gray;
}

.search-icon{
	&:hover{
		cursor: pointer;
	}
}

::ng-deep{
	@media screen and (max-width: 1024px) {
		.timer-sidenav{
			width: 25vw !important;
		}
		.choose-txt {
			max-width: calc(75% - 30px) !important;
		}
		.mat-card-title {
			font-size: 14px !important;
		}
		.fileTitle{
			width: 160px !important;
		}
		.sidebarMenu{
			width: 170px !important;
		}
		.board-wrapper {
			padding: 20px 20px !important;
		}
		.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
			font: 700 15px/15px Bukra !important;
		}
		mat-sidenav .mat-list-item-content {
			padding: 16px 30px !important;
		}
		.content-padding {
			padding: 20px 20px !important;
		}
		.mat-chip,.updatedClaim, .mat-header-cell, .mat-cell, .mat-footer-cell, .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
			font-size: 13px !important;
		}
		.group-header mat-cell .group {
			font-size: 11px !important;
		}
		.chat-form.p-3.paddingForm {
			padding: 5px !important;
		}
		.notes-tab{
			width : 97% !important;
		}
		.fieldPadding{
			margin-right: 0px !important;
		}
		.h-90{
			height: 90% !important;
		}
		.empty-state-light-color{
			font-size: 14px !important;
		}
		.overflow-auto{
			height: 80% !important;
		}
		.edit-drawer-component .chat-box {
			margin: 5px 24px !important;
			padding: 5px 10px !important;
			border-radius: 4px !important;
		}
		app-select, app-date,app-time{
			width: 49% !important;
		}
		.mat-dialog-title {
			margin: 0 0 0px !important;
		}
		.mat-dialog-title {
			font: 700 11px/10px Bukra !important;
		}
		.mat-dialog-content{
			padding-bottom: 10px !important;
			font-size: 13px !important;
		}
		.mat-chip{
			line-height: 14px !important;
		}
		.cdk-overlay-pane {
			::ng-deep .mat-menu-item {
				font-size: 12px !important;
			}
		}
	}
}

