.mat-form-field{
    .mat-icon[matprefix],
    .mat-icon[matsuffix]{
        vertical-align: bottom;
    }
}
.search-icon{
    cursor: pointer;
}

.mat-icon{
    color: rgba(0, 0, 0, 0.38);
}