<mat-expansion-panel expanded>
	<mat-expansion-panel-header>
		<mat-panel-title>
			{{ field.label[globalVariables.LNG] }}
		</mat-panel-title>
	</mat-expansion-panel-header>
	
	<div class="table-container w-100">
		<div class="btn-area">
			<button *ngIf="field.update" class="lh-28px lp-1"
			        mat-flat-button (click)="addGroup()">
				<mat-icon svgIcon="plus"></mat-icon>
				{{ globalVariables.translation["Add"][globalVariables.LNG]}}</button>
		</div>
		<div [formGroup]="formGroup">
			<ng-container formArrayName="formArray">
				<mat-table [dataSource]="dataSource" class="w-100" >
					<ng-container *ngFor="let column of columns" [matColumnDef]="column.col">
						<ng-container *ngIf="column.col != '' || ((column.col == 'actions') && field.update)">
							<mat-header-cell *matHeaderCellDef> {{column.label[globalVariables.LNG]}} </mat-header-cell>
							<mat-cell *matCellDef="let element" [formGroup]="element">
								<ng-container *ngIf="(column.col == 'actions'); else formField">
									<mat-icon class="cursor" *ngIf="field.update"
										(click)="removeGroup(element)" svgIcon="close" color="secondary">
									</mat-icon>
								</ng-container>
								
								<ng-template #formField>
									<mat-form-field class="w-100" appearance="outline" *ngIf=" column.type == 'input'">
										<input type="text" (change)="calculatePrice(element);" [formControl]="element.controls[column.col]" matInput>
									</mat-form-field>
									<ng-container *ngIf="column.type && column.type == 'dialog'">
										<app-table-dialog [group]="element" [field]="column"></app-table-dialog>
									</ng-container>
									<ng-container *ngIf="column.type && column.type != 'dialog' && column.type != 'input'" dynamicField
									              [field]="getField(column, element.controls[column.col].value)" [group]="element"></ng-container>
								</ng-template>
							</mat-cell>
							
							
							<mat-footer-cell *matFooterCellDef>
								<ng-container *ngFor="let footerColumn of field.footer; let i = index">
									<ng-container *ngIf="column.col == 'sq' && i == 0; else totalValueTemplate">
										<label class="fs">{{ globalVariables.translation["total"][globalVariables.LNG] }}</label>
									</ng-container>
									<ng-template #totalValueTemplate>
										<ng-container *ngIf="checkKey(footerColumn, column.col)">
											<span class="footer-cell">{{ getTotalValue(column.col) | number }}</span>
										</ng-container>
									</ng-template>
								</ng-container>
							</mat-footer-cell>
						</ng-container>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					<ng-container *ngIf="field.footer">
						<mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
					</ng-container>
				
				
				</mat-table>
			</ng-container>
		</div>
	</div>

</mat-expansion-panel>

