<h2 mat-dialog-title>
	{{ globalVars.translation["changes_not_saved"][globalVars.LNG] }}
</h2>
<mat-dialog-content class="pt-2 pb-3">
	{{ globalVars.translation["form_without_saving"][globalVars.LNG] }}
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="flex-end center">
	<button mat-stroked-button color="primary" mat-dialog-close (click)="onNoClick('no')"
	        tabindex="-1">{{ globalVars.translation["No"][globalVars.LNG] }}</button>
	<button mat-raised-button color="primary" (click)="onYesClick('yes')"
	        tabindex="1">{{ globalVars.translation["Yes"][globalVars.LNG] }}</button>
</mat-dialog-actions>
