// Dubai Police
$primary-color: #008755;
$active-route-color: #0cab6b;
$list-item-hover-color: rgba(196, 223, 197, 0.86);
$sidenav-active-route-color: rgba(196, 223, 197, 0.86);

// GBM
/*$primary-color: #A01A33;
$active-route-color: #d43f5a;
$list-item-hover-color: rgba(212, 115, 132, 0.86);
$sidenav-active-route-color: #ffedf1;*/
