.mat-card-item{
    margin-bottom: 10px;
    height: 31.5%;
  }

  table {
    width: 100%;
  }
  .dashboard-card span.md-headline {
    font-size: medium;
  }
  .dashboard-card span.card-value {
    font-size: medium;
    font-weight: bold;
  }
  .dashboard-card span.card-icon {
    font-size: medium;
  }
  