::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]) {
	cursor: pointer;
}

::ng-deep {
	
	.dp-dark-theme {
		app-reactive-dynamic-form mat-expansion-panel {
			background: #424242 !important;
		}
	}
	
	app-input, app-button, app-checkbox, app-date, app-file-upload, app-radiobutton, app-select,app-static-select, app-status,app-time, app-text-area {
		flex: 0 0 49%;
		max-width: 49%;
	}
	
	app-table, app-table-dialog, app-table-object {
		width : 100%;
	}
	
	app-table app-select {
		flex: 1 1 100% !important;
		max-width: 100% !important;
	}
}
