<mat-form-field class="w-100"  appearance="outline">
	<mat-label>{{ field.label[globalVariables.LNG] }}</mat-label>
	<input type="text" aria-label="Number" matInput [formControl]="singleOptionsCtrl" registerChildComponentToForm
		[matAutocomplete]="auto" (change)="handleEmptyInput($event)" (focus)="getSelectData()">
	<!--(blur)="getReferenceModuleValue()"  add-->
	<mat-icon *ngIf="field.update && !hideSearchIcon" svgIcon="magnify" matSuffix color="secondary" (click)="getSelectData()"></mat-icon>
	<mat-autocomplete #auto="matAutocomplete" (optionsScroll)="onScroll()">
		<mat-option *ngIf="isLoading" class="is-loading">
			<mat-progress-bar *ngIf="isLoading" [mode]="'indeterminate'">
			</mat-progress-bar>
		</mat-option>
		<ng-container>
			<mat-option (click)="setSelectEmpty()" *ngIf="field.value">
				{{ globalVariables.translation["None"][globalVariables.LNG] }} </mat-option>
			<mat-option *ngIf="singleOptionsCtrl.value &&  singleOptionsCtrl.value !=''
								&& singleFilteredOptions && singleFilteredOptions.length == 0" disabled>
				{{ globalVariables.translation["NoRecordFound"][globalVariables.LNG] }}
			</mat-option>
			<mat-option *ngFor="let  option of singleFilteredOptions;let i=index"
				(onSelectionChange)="selected(option, $event)" [value]="option[field.key_show][this.globalVariables.LNG] ? option[field.key_show][this.globalVariables.LNG]  : option[field.key_show]">
				{{option[field.key_show][this.globalVariables.LNG] ? option[field.key_show][this.globalVariables.LNG]  : option[field.key_show]}}
			</mat-option>
		</ng-container>
	</mat-autocomplete>
</mat-form-field>
